<nav class="navbar navbar-expand-sm navbar-dark" style="background-color: rgb(6, 0, 20);">
    <div class="navbar-esfera">
        <div class="navbar-centrar">
            <img src="../../../assets/img/c19c76_e1ee443d4c5e4e3197a25eec7a0a97e5.png" alt="">
        </div>
        <div class="navbar-centrar1">
            <h4>Esfera</h4>
            <h4 class="nav-titulo">Construcciones</h4>
        </div>
    </div>
    <div class="collapse navbar-collapse offset-4" id="collapsibleNavId">
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
            <li class="nav-item">
                <a class="nav-link" href="#Inicio">Inicio</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#Servicios">Servicios</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#Nosotros">Nosotros</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#Proyectos">Proyectos</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#Contactos">Contactos</a>
            </li>

        </ul>

    </div>
</nav>