<div class="contenedorNosotros">
    <div class="nosotros1">
        <div class="nosotrosinfo">
            <div class="nosotros-titulo">
                <div class="titulonosotros">NOSOTROS</div>
                <div class="nosotros-linea"></div>
            </div>
            <div class="notrotrostext">
                En Wix nos apasiona crear plantillas que te permiten construir geniales páginas web ¡y esto es gracias a los comentarios de usuarios como tú! Mantente informado sobre los nuevos lanzamientos y lo que viene en Nuevas Funciones en el Centro de Ayuda. Siéntete
                libre de darnos tu opinión en el foro de Wix. Si te gustaría obtener el toque de un diseñador profesional, ve al Wix Arena y contacta a uno de nuestros diseñadores. O si necesitas más ayuda puedes escribir tus preguntas en los foros del
                Centro de Ayuda y obtener respuestas instantáneas. Para mantenerte actualizado con todo en Wix, incluyendo consejos y cosas que creemos que son geniales, ¡ve al Wix Blog!
            </div>
        </div>
        <div class="nosotrosimg">
            <!-- <img src="../../../assets/img/construccion.gif" alt=""> -->
        </div>
    </div>
    <div class="nosotros2">
        <div>
            <h4>numeros</h4>
            <p>informacion</p>
        </div>
        <div>
            <h4>numeros</h4>
            <p>informacion</p>
        </div>
        <div>
            <h4>numeros</h4>
            <p>informacion</p>
        </div>
        <div>
            <h4>numeros</h4>
            <p>informacion</p>
        </div>
    </div>

</div>